<% breadcrumb :articlenew  %>
<%= breadcrumbs separator: " > " , class: :logo %>


<h1>新規お知らせ作成</h1>
<% if admin_signed_in? %>
<%= render 'form', article: @article %>

<%= link_to '戻る', articles_path, class: 'btn btn-danger' %>
<% end %>
