<h2>お知らせ内容</h2>
<table class="table table-hover table-inverse" frame="border">
  <tbody>
    <tr>
      <td>タイトル</td>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <td>本文</td>
      <td><%= markdown(@article.body).html_safe %></td>
    </tr>
  </tbody>
</table>
<% if admin_signed_in? %>
  <%= link_to '編集', edit_article_path(@article), data: {"turbolinks"=>false}, class: 'btn btn-success btn-lg' %>
  <%= link_to '戻る', articles_path, class: 'btn btn-danger btn-lg' %>
<% end %>
