<% if @tweets.present? %>
  <h2>"<%= params[:keyword] %>"の最新検索結果表示</h2>
  <table class="tweettable">
    <% @tweets.each_with_index do |tweet, i| %>
    <th>ツイート<%= i %>:</th>
      <tr>
        <td><%= tweet.contents.truncate(400) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
