<%= @contract.name %>様からお問い合わせがありました。<br>

【Tel】: <%= @contract.phone_number %> <br>
【Mail】: <%= @contract.email %> <br>
【お問い合わせ内容】<br>

 <span style="white-space: pre-wrap;"><%= @contract.message %></span>
