<h1>本検索</h1>
<%= form_with url: book_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, size: "40x20", :placeholder => "検索内容入力" %>
  <%= f.submit '本の題名を検索', class: "btn btn-primary", data: {"turbolinks"=>false} %>
  <% if @books.present? %>
   <%= render 'books/book' %>
  <% end %>
<% end %>
