
 <!--<div id="loading">-->
 <!--  <div id="loading_box">-->
 <!--    <div class="loading-one animation_loading">-->
 <!--      <p class="loading-txt">now loading...</p>-->
 <!--    </div>-->
 <!--  </div>-->
 <!--</div>-->

<div class ="ooo">
 <div class ="design">
  <h2>「我らの三国志」サイトへようこそ!！</h2>

  作成途中

  我らの三国志

  <table>
   <thead>
     <tr>
       <th>aaaa</th>
       <th>dddd</th>
     </tr>
   </thead>
  </table>
 </div>
</div>