
 <div id="loading">
   <div id="loading_box">
     <div class="loading-one animation_loading">
       <p class="loading-txt">now loading...</p>
     </div>
   </div>
 </div>


<div class ="design">
  <h2>「我らの三国志」サイトへ！</h2>
 </div>