<h1>評価</h1>
<table class="sighttable">
  <% @sights.each do |sight| %>
    <% sight.evaluates.each do |evaluate| %>
      id:<%= evaluate.id %>→[<%= evaluate.rate %>点]
    <% end %>
  <% end %>
</table>
