<% breadcrumb :managergenresedit  %>
<%= breadcrumbs separator: " > " , class: :logo %>

<div>
 <h2>ジャンル名編集</h2>
  <%= form_with model:@genre,url: manager_genre_path, local:true do |f| %>
   <%= f.text_field :name %>
   <%= f.submit '変更を保存', class: 'btn btn-success' %>
  <% end %>
</div>