/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kosugi+Maru&display=swap');

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

 header {
 width: 100%;
 height: 100%;
 background-color: #99FF99;
 }

 footer {
  position: absolute; /*←絶対位置*/
  left: 0;
  bottom: 0; /*下に固定*/
  width: 100%;
  height: 20px;
  text-align: center;
  color: #777;
}

 .zatudans{
   padding: 20px 10px;
   max-width: 100%;
   margin: 15px auto;
   border-radius: 70px;
   border: #FF9999 double 6px;
   text-align: right;
   font-size: 14px;
   background: #FF99CC;
   border: 1px solid;
 }

 .chats{
   padding: 20px 10px;
   max-width: 100%;
   border-radius: 70px;
   border: #FF9999 double 6px;
   margin: 15px auto;
   text-align: right;
   font-size: 14px;
   background: #7da4cd;
   border: 1px solid;
 }

 .fukidasi {
   width: 100%;
   margin: 10px 0;
   overflow: auto;
 }
 .fukidasi .faceicon {
   float: left;
   margin-right: -50px;
   width: 40px;
 }
 .fukidasi .faceicon img{
   width: 90%;
   height: auto;
   border-radius: 50%;
 }
 .fukidasi .chatting {
   width: 100%;
   text-align: left;
 }
 .says {
   display: inline-block;
   position: relative;
   margin: 0 0 0 50px;
   padding: 10px;
   border-radius: 12px;
   background: #edf1ee;
 }
 .says:after {
   content: "";
   display: inline-block;
   position: absolute;
   top: 3px;
   left: -19px;
   border: 8px solid transparent;
   border-right: 18px solid #edf1ee;
   -webkit-transform: rotate(35deg);
   transform: rotate(35deg);
 }
 .says p {
   margin: 0;
   padding: 0;
 }
 .mycomment {
   margin: 10px 0;
 }
 .mycomment p {
   display: inline-block;
   position: relative;
   margin: 0 10px 0 0;
   padding: 8px;
   border-radius: 12px;
   background: #30e852;
   font-size: 15px;
 }
 .mycomment p:after {
   content: "";
   position: absolute;
   top: 3px;
   right: -19px;
   border: 8px solid transparent;
   border-left: 18px solid #30e852;
   -webkit-transform: rotate(-35deg);
   transform: rotate(-35deg);
 }

 .main {
 width: 100%;
 margin: 0;
 height: 100%;
 padding: 10px;
 }

.container {
  display: flex;
  flex-wrap: nowrap;
}

.oocontainer {
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  width: 100%;
  position:relative;
}

.header-nav {
  display: inline-flex;
  margin: 15px;
}

.image-box.hide {
  display: none;
}

 .center {
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
 }

 .bottom {
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 65%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.btn:hover {
   box-shadow: 0px 12px 24px rgba(30, 146, 175, 0.38);
    transform: translateY(-7px);
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  border: 2px;
  border-radius: 10px;
}
.pagination > li > a {
  border: none;
  color: #999;
}
.pagination > li > a:hover {
  color: turquoise;
  background-color: white;
}
.pagination > .active > a {
  color: turquoise;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: turquoise;
}
/* --ページネーション */

/ツイッターログイン/
.fa-twitter-square {
  color: #1da1f2;
}

@media only screen and (max-width: 500px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .dip {
  display: flex;
  flex-direction: column;
  }

  .bottom {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

}

@media screen and (min-height: 700px) {
  .main {
   width: 100%;
   margin: 0;
   height: 700px;
   padding: 10px;
  }

  .dip {
  display: flex;
  flex-direction: column;
  }

}

@import './homes'