/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kosugi+Maru&display=swap');

 header {
 width: 100%;
 height: 100%;
 background-color: #99FF99;
 }

 .main {
 width: 100%;
 margin: 0;
 height: 100%;
 padding: 10px;
 }

.container {
  display: flex;
  flex-wrap: nowrap;
}

.oocontainer {
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  width: 100%;
  position:relative;
}

.header-nav {
  display: inline-flex;
  margin: 15px;
}

.image-box.hide {
  display: none;
}

// .image {
//   border-radius: 30px;
//   width: 30px;
//   height: 30px;
// }

 .center {
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  // position: absolute;
 }

 .bottom {
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 65%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

@media only screen and (max-width: 500px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .dip {
  display: flex;
  flex-direction: column;
  }

  .bottom {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

}

@media screen and (min-height: 700px) {
  .main {
   width: 100%;
   margin: 0;
   height: 700px;
   padding: 10px;
  }

  .dip {
  display: flex;
  flex-direction: column;
  }

}

@import './homes'