// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-top {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background-image: image-url("nigaoe_ryuubigentoku.png");
  background-repeat:  no-repeat;
  background-size: contain;
  opacity:  0.7;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: right 15px center;

  %__home-title {
    font-size: 1rem;
    margin: 10px;
    width: 80%;
    padding: 0 18px;
  }

  &__home-title {
    @extend %__home-title;

     &--red {
      @extend %__home-title;
      color: red;
    }

     &--green {
      @extend %__home-title;
      color: green;
    }
  }

  &__home-subtitle {
    font-size: 32px;
  }
}

@media only screen and (max-width: 500px) {
  .home-top {
    width: 100%;
    background-image: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    & h1 {
      font-size: 1.8rem;
    }

    &__home-subtitle {
      font-size: 1.2rem;
    }

    %__home-title {
      width: 100%;
      font-size: 1rem;
      line-height: 1.8;
    　margin: 0;
      padding: 0 12px;
    }
  }
}

@media screen and (min-height: 700px) {
  .home-top {
   width: 100%;
   margin: 0;
   height: 700px;
   background-image: none;
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);

   & h1 {
      font-size: 1.8rem;
   }

   &__home-subtitle {
    font-size: 1.2rem;
   }

   %__home-title {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8;
    margin: 0;
    padding: 0 12px;
   }
  }
}