// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-top {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  background-image: image-url("nigaoe_ryuubigentoku.png");
  background-repeat:  no-repeat;
  opacity:  0.7;
  background-position: right 15px center;

  %__home-title {
    font-size: 1rem;
    margin: 10px;
    width: 80%;
    padding: 0 18px;
  }

  &__home-title {
    @extend %__home-title;

     &--red {
      @extend %__home-title;
      color: red;
    }

     &--green {
      @extend %__home-title;
      color: green;
    }
  }

  &__home-subtitle {
    font-size: 32px;
  }
}

   .home-article {
    font-size: 1rem;
    margin: 10px;
    width: 80%;
    padding: 0 18px;
  }

   .home-article:hover{
     font-size: 1rem;
     margin: 10px;
     width: 80%;
     padding: 0 18px;
     // background: #ccc;
     background-image: image-url("sousou.png");
     background-repeat:  no-repeat;
     opacity:  0.7;
     background-position: right 10px center;
     background-size:contain;                /* 画像のサイズを指定    */
  }


 /*=== 画像の表示エリア ================================= */
.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 200px;
  height     : 200px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}

 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 15s ease infinite;
}

 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 3s }
.slide img:nth-of-type(3) { animation-delay: 6s }
.slide img:nth-of-type(4) { animation-delay: 9s }
.slide img:nth-of-type(5) { animation-delay: 12s }

 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0; transform: scale(.1, .1)}
   2% { opacity: 1; transform: scale(1, 1)  }
  18% { opacity: 1; transform: scale(1, 1)  }
  20% { opacity: 0; transform: scale(2, 2)  }
 100% { opacity: 0; transform: scale(2, 2)  }
}

@media only screen and (max-width: 500px) {
  .home-top {
    width: 100%;
    height: 100%;
    margin: 0;

    & h1 {
      font-size: 1.8rem;
    }

    &__home-subtitle {
      font-size: 1.2rem;
    }

    %__home-title {
      width: 100%;
      font-size: 1rem;
      line-height: 1.8;
    　margin: 0;
      padding: 0 12px;
    }
  }
}

@media screen and (min-height: 700px) {
  .home-top {
   width: 100%;
   height: 100%;
   margin: 0;

   & h1 {
      font-size: 1.8rem;
   }

   &__home-subtitle {
    font-size: 1.2rem;
   }

   %__home-title {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8;
    margin: 0;
    padding: 0 12px;
   }
  }
}